/* product */

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0 15px;
  margin-top: 10px;
}

.tag {
  padding: 4px 10px;
  border-radius: 20px;
  background: var(--bg-color-3);
  color: var(--text-gray-2);
  font-size: 12px;
  font-weight: 500;
}

.more {
  background: var(--bg-active);
  color: white;
}

.card-image img,
.no-image {
  width: 100%;
  height: var(--height-card-img);
  /* object-fit: cover; cắt ảnh cho vừa */
  /* object-fit: cover; contain thu nhỏ/to vừa khung */
  display: block;
  transition: transform 0.4s ease;
}

/* zoom ảnh */
.card-item:hover .card-image img {
  transform: scale(1.08);
}

.no-image {
  background-color: var(--bg-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* phần nội dung */

.card-item h5 {
  margin-top: 15px;
  transition: 0.3s ease;
}

.card-item:hover h5 {
  color: var(--color-bule);
}

.no-image span {
  font-size: var(--font-size-xxl);
  color: var(--text-gray-3);
}

/* Status chung */
.status-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

/* Product */

/* Status của Product */
.product-status-badge {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}
/* hoạt động */
.active,
.success {
  background: var(--bg-color-green-2);
  color: var(--text-green);
  font-weight: bold;
}

/* ngừng hoạt động (ẩn với người dùng) */
.inactive {
  background: var(--color-21);
  color: var(--text-gray-2);
  font-weight: bold;
}

/* hết hàngf */
.warning {
  background: var(--color-16);
  color: var(--color-17);
  font-weight: bold;
}

/* ngừng kinh doanh */
.danger {
  background: var(--color-18);
  color: var(--color-19);
  font-weight: bold;
}

.discontinued {
  background: var(--bg-color-red-2);
  color: var(--text-color-red);
}

p {
  font-size: var(--font-size-sm);
  color: var(--text-gray-3);
}
.count-product {
  font-weight: var(--font-width-md);
}

/* cái name trên card */
.card-header {
  display: flex;
  align-items: center;
  background-color: var(--color-5);
  border-bottom: 1px solid var(--border-gray-2);
}
