main {
  flex: 1;
}
.app-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-body {
  display: flex;
  width: 100%;
  flex: 1;
  min-width: 0;
}
/* SIDEBAR */

.sidebar-wrapper {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  display: flex;
  transition:
    transform 1s ease,
    margin 1s ease;
}

.sidebar-wrapper.hide {
  transform: translateX(-100%);
  margin-left: var(--margin-sidebar-width);
}

/* MAIN */
.main-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  /* padding: 20px; */

  min-width: 0;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 0;
  position: relative;
}

.main-wrapper.full {
  width: 100%;
}

@media (max-width: 768px) {
  .app-layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .layout-body {
    display: flex;
    flex: 1;
    min-height: 0;
  }

  /* ko bị ảnh hưởng bới sidebar */
  .sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
  }

  .sidebar-wrapper.hide {
    transform: translateX(-100%);
    margin-left: 0;
  }

  .main-wrapper {
    width: 100%;
  }
}