:root {
  /* Colors */
  --primary-color: #42b883;
  --secondary-color: #35495e;

  --text-color: #333;
  --bg-color: #fff;
  --bg-footer-color: #444;
  --bg-sidebar-admin-color: #444;
  --bg-hover-red: #de8787;
  --bg-color-while-1: #eee;
  --bg-color-while-2: #fafafa;
  --bg-color-red: #ff0000;
  --bg-color-red-hover: #e50808;
  --bg-color-3: #f2f2f2;
  --bg-color-4: #ccc;
  --bg-hover: #666;
  --bg-active: #124ae5;
  --bg-green: #8bf88b;
  --bg-focus-black: #666;
  --bg-color-red-2: #f5b0b0;
  --bg-color-green-2: #def1dc;

  --text-red: #f13d3d;
  --text-color-red: #ff0000;
  --text-error: red;
  --text-white: #fff;
  --text-gray: #ccc;
  --text-grey: #222;
  --text-gray-3: #666;
  --text-gray-4: #444;
  --text-green: #0ca334;
  --text-hover: #ff6633;

  --border-gray: #666;
  --border-gray-2: #eee;
  --border-gray-3: #ccc;
  --border-gray-4: #ddd;

  /* color */
  --color-bule: #4f46e5;
  --color-bule-2: #1d4ed8;
  --color-while: #ddd;
  --color-yellow: #dfe214;
  --color-2: #e5e7eb;
  --color-3: #d1d5db;
  --color-4: #42b883;
  --color-5: #f6f7fb;
  --color-6: #ddd;
  --color-7: #ccc;
  --color-8: #111827;
  --color-9: #124ae5;
  --color-10: #f0f3fc;
  --color-11: #000;
  --color-12: #fe7041;

  --color-bg-dark: #333;
  --color-bg-orange: #ff6633;
  --color-red-1: #dc2626;
  --color-active: #124ae5;

  /* Font */
  --font-size-ssm: 10px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 30px;
  --font-size-xxl: 36px;

  --font-width-sm: 500;
  --font-width-md: 600;
  --font-width-lg: 700;
  --font-width-xxl: 800;

  /* Layout width */
  --container-width: 1600px;
  --section-width: 1400px;
  --image-width: 1600px;

  --max-width: 1200px; /* Spacing */
  --padding-x: 20px;

  /* shadown */
  --shadow-black: 0 4px 15px rgba(0, 0, 0, 0.5);
  --shadow-orange: 0 4px 15px rgba(255, 165, 0, 0.4);
  --shadow-red: 0 4px 15px rgba(241, 94, 45, 0.4);
  --shadow-blue: 0 4px 15px rgba(0, 123, 255, 0.4);
  --shadow-white: 0 4px 15px rgba(255, 255, 255, 0.3);
  --shadow-gray: 0 2px 3px rgba(0, 0, 0, 0.2);
  --shadow-black-2: 0 10px 25px rgba(0, 0, 0, 0.15);
  --shadow-black-3: 0 5px 15px rgba(122, 121, 121, 0.15);
}
/*
solid    liền 
dashed   đứt khúc 
dotted  chấm chấm 
double  2 đường
*/

/* 991px tablet
767px mobile

*/
